{% extends "layout.html" %}

{% block title %}My Certificates{% endblock %}

{% block content %}
<section class="section">
    <div class="section-header">
        <h2>My Certificates</h2>
    </div>

    <div class="cert-container">
        {% for c in certificates %}
        <div class="cert-card">
            <h3>{{ c.title }}</h3>
            <p>{{ c.issuer }}</p>
            <a class="btn-cert" href="{{ c.file }}" target="_blank">View Certificate</a>
        </div>
        {% endfor %}
    </div>

</section>
{% endblock %}
